.DS_Store
/*
!/LICENSE
!/README.md
!/VERSION
!/*.podspec
!/Package.swift
!/Plugins
!/Sources
!/FlexaCore
!/FlexaLoad
!/FlexaNetworking
!/FlexaScan
!/FlexaSpend
!/FlexaUICore
!/Tests
!/swiftgen.yml
!/.swiftlint.yml
!/.gitignore
!/Gemfile
!/Gemfile.lock
